/*******************************************************
Site Name: njosefbeck.com
Author: Nathan (Josef) Beck

Stylesheet: 400px and Up Stylesheet

This stylesheet is loaded for larger devices, such as a landscaped iPhone.

********************************************************/

.large-font {
	
	font-size:3em; 
	padding: 0; 
	margin: 0;

}