/*******************************************************
Site Name: njosefbeck.com
Author: Nathan (Josef) Beck

Stylesheet: Tablet Stylesheet

This stylesheet is loaded for larger devices, such as a tablet.
********************************************************/

.large-font {
	
	font-size:5.1em; 
	padding: 0; 
	margin: 0;

}