/*******************************************************
Site Name: njosefbeck.com
Author: Nathan (Josef) Beck

Stylesheet: Tablet Stylesheet

This stylesheet is loaded for small-to-large desktops.
********************************************************/

.large-font {
	
	font-size:6.9em; 
	padding: 0; 
	margin: 0;

}