$njosefbeck-bg-color:  #DB3340;
$njosefbeck-text-color: #590706;

$develops-bg-color: #E8B71A;

$yoga-bg-color: #F7EAC8;

$blogs-bg-color: #1FDA9A;

$connect-bg-color: #28ABE3;

$link-color: #333;

$njosefbeck-link-color: #590706;

$info-content-link-color: #DB3340;

$black: #000;



